@import url('https://fonts.googleapis.com/css?family=Permanent+Marker:400');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3 ease-in;
}

body {
  font-family: Permanent Marker, serif;
  background-color: #fafafa;

}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}